/* Global Properties */
html {
    scroll-behavior: smooth;
}

body {
    background: hsl(170, 17%, 71%);
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}

/* Navigation */
.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgba(236, 123, 123, 0.635);
color: #ffffff;
text-align: center;
}